@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Italic.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSans3-Light.ttf");
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Lora", serif;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
    background: url("../../img/background.jpg") center center, #3D3932;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#login-bar {
    background-color: #e60012;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-bar a {
    display: block;
}
#logo-header {
    display: block;
    width: 42px;
    margin-left: 30px;
}
#login-bar button{
    margin-right: 30px;
}
button {
    border-style: none;
    background-color: transparent;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

#motion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background-color: black;
}

#menu {
    font-family: "Lora", serif;
    font-size: 18px;
    background-color: rgb(17, 25, 33);
    border: 1px solid #B8A279;
    color: white;
    padding: 10px;
    margin-left: 20px;
}

#logo-hepl-menu {
    display: block;
}
header span {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

#motion::before {
    content: '';
    padding: 0 10px;
    border: 2px solid #B8A279;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}
nav {
    display: flex;
    justify-content: center;
    padding: 13px;
}

nav li {
    text-align: center;
}
nav svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(15%);
    fill: #B8A279;
    opacity: 0.3;
}

nav::after {
    content: '';
    position: absolute;
    left: 0;
    background-image: linear-gradient(to right, #3D3932, #B8A279, #3D3932);
    background-position: 0 0;
    width: 100%;
    height: 2px;
    top: 400px;
}

nav ul {
    list-style: none;
    padding: 13px;
    margin: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    padding: 14px 15px 12px;
    margin: 0 16px;
}

#logo-hepl-menu {
    width: 60px;
}

#menu-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
}

#menu-bar, nav {
    background: url("../../img/noise-background.png") center center, #3D3932;
    background-size: 150px 150px;
}

#menu-bar::before, #menu-bar::after {
    content: '';
    position: absolute;
    left: 0;
    background-image: linear-gradient(to right, #3D3932, #B8A279, #3D3932);
    background-position: 0 0;
    width: 100%;
    height: 2px;
}

#menu-bar::after {
    top: 60px;
}

#menu-bar::before {
    top: -1px;
}
#profile {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

#video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 8px;
}
#profile {
    color: white;
}

#parcours-first-step, #parcours-second-step, #parcours-thrid-step {
    color: #3D3932;
}

.logo {
    width: 150px;
}

#profile-name {
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
}

#profile::after {
    content: '';
    width: 100%;
    background-image: url("../../img/border-profile.svg");
    background-position: 0 0;
    height: 18px;
    border-bottom: solid 0 #CFC19F;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
}
#parcours-helmo {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#parcours-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 32px 0;
}

#circle {
    width: 300px;
    animation: spin 40s linear infinite;
}

#intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 90px;
}

#intro-content h3 {
    margin: 0 0 16px;
}

#intro-content p {
    margin: 0;
    text-align: center;
}

#icon-timeline {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
}

.diamond {
    margin-bottom: -22px;
}

#parcours-first-step {
    padding: 0 0 32px;
    z-index: 6;
}
#parcours-helmo, #parcours-hepl, #parcours-now, #parcours-portfolio {
    color: rgb(61, 57, 50);
}

#parcours-helmo p {
    margin: 0;
}

#parcours-intro h3 {
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
}

.triforce-border svg {
    fill: white;
    width: 32px;
    height: 32px;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 27px;
}
#parcours-second-step {
    padding: 0 0 90px;
    z-index: 6;
}

#parcours-helmo {
    position: relative;
    z-index: 6;
    padding-bottom: 30px;
}

.border-waves-top {
    position: relative;
}

.border-waves-top::after {
    content: '';
    width: 100%;
    background-image: url("../../img/border-waves.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    height: 20px;
    border-bottom: solid 20px #CFC19F;
    position: absolute;
    left: 0;
    bottom: 0;
}

#parcours-relance, #parcours-now {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parcours-relance img, #parcours-now img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#parcours-third-step, #parcours-now-step {
    padding: 0 16px;
    position: relative;
}

#relance-content, #now-content, #portfolio-content {
    display: inline-block;
    background-color: white;
    clip-path: polygon(0 36px, 36px 0, calc(100% - 36px) 0, 100% 36px, 100% calc(100% - 36px), calc(100% - 36px) 100%, 36px 100%, 0 calc(100% - 36px));
    padding: 24px;
    margin: 8px 0;
}

.triforce-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tri-force__corner {
    position: absolute;
}

.tri-force__corner--tl {
    top: 8px;
    left: 0;
}

.tri-force__corner--tr {
    top: 8px;
    right: 0;
}

.tri-force__corner--br {
    bottom: 8px;
    right: 0;
}

.tri-force__corner--bl {
    bottom: 8px;
    left: 0;
}

#icon-timeline-third-step, #icon-timeline-fifth-step {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.step-container{
    display: inline-block;
    position: relative;
    width: 50%;
}

.border-waves-bottom {
    position: relative;
}

.border-waves-bottom::before {
    content: '';
    width: 100%;
    background-image: url("../../img/border-waves.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    height: 20px;
    border-top: solid 20px #CFC19F;
    position: absolute;
    left: 0;
}


#skills ul {
    list-style: none;
    padding: 0;
}

#skills {
    color: rgb(184, 162, 121);;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../img/backgroundSkills.png");
    background-color: #003DA0;
    background-position: center center;
    padding: 80px 16px 64px;
}

#skills-button {
    display: block;
    white-space: nowrap;
    margin: 0 calc(50vw - 42px);
}

#skills-button button.active {
    outline: 1px solid #B8A279;
    outline-offset: 5px;
}

#skills-button button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 3px 10px 3px;
    border: 1px solid #B8A279;
    position: relative;
}

#skills-button li {
    display: inline-block;
    margin-right: 24px;
    width: 94px;
}

#skills-logo {
    grid-area: image;
}

#skills-button svg {
    width: 62px;
    height: 38px;
    color: #B8A279;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
}
#skills-button img {
    width: 86px;
    position: relative;
    margin-top: -8px;
}
#skills-info {
    grid-area: content;
}

#skills-button-container {
    grid-area: button;
    justify-self: center;
}

#skills svg {
    fill: rgb(184, 162, 121);
}

#skills-logo img {
    width: 358px;
}
.skill-logo-li{
    display: inline-block;
}
#skills-info svg {
    width: 37px;
    margin-bottom: 16px;
}

#skills-info p {
    margin: 0;
}

#skills-info h3 {
    margin-bottom: 12px;
}

#skills h2, #skills p, #skills h3 {
    color: white;
    font-weight: 400;
}
#parcours-hepl {
    padding: 80px 16px 32px;
}
#portfolio-container{
    display: inline-block;
    position: relative;
}
#portfolio-content{
    padding: 40px 100px;
}
#parcours-portfolio {
    background: url("../../img/parcours-portfolio-background.png") no-repeat center;
    background-size: cover;
    padding: 48px 8px;
    margin: 0 auto;
    position: relative;
}
#parcours-portfolio::before {
    content: '';
    width: 100%;
    background-image: url("../../img/border-profile.svg");
    background-position: 0 0;
    height: 18px;
    border-bottom: solid 0 #CFC19F;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    top: 0;
}

#parcours-portfolio .triforce-border .tri-force__corner--tl {
    top: 8px;
    left: 0;
}

#parcours-portfolio .triforce-border .tri-force__corner--tr {
    top: 8px;
    right: 0;
}

#parcours-portfolio .triforce-border .tri-force__corner--bl {
    bottom: 8px;
    left: 0px;
}

#parcours-portfolio .triforce-border .tri-force__corner--br {
    bottom: 8px;
    right: 0px;
}

.pad--8 {
    padding: 0 8px;
}

#button-decouvrir svg {
    fill: rgb(0, 80, 230);
    width: 14px;
    height: 14px;
}

#portfolio-content h2 {
    margin: 0 0 16px;
}

#portfolio-link {
    display: inline-block;
    position: relative;
}

#button-decouvrir {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding: 2px;
}

#button-decouvrir span {
    background-size: 300% 100%;
    background: linear-gradient(45deg, #0050E6, #003DA0) 50% 0;
    padding: 13px 25px 17px 25px;
    clip-path: polygon(0 19px, 19px 0, 100% 0, 100% calc(100% - 19px), calc(100% - 19px) 100%, 0 100%);
}

#button-decouvrir .tri-force__corner--tl {
    top: 2px;
    left: 2px;
}

#button-decouvrir .tri-force__corner--br {
    bottom: 2px;
    right: 2px;
}

#border-swirl {
    position: relative;
    border-bottom: solid 3px #CFC19F;
    margin-top: 50px;
}

#border-swirl::after {
    content: '';
    width: 100%;
    background-image: url("../../img/border-swirls.svg");
    background-position: 0 0;
    height: 32px;
    border-bottom: solid 2px #CFC19F;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: 3px;
}

#button-contact {
    text-decoration: none;
    color: rgb(0, 80, 230);
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

}

#button-contact svg {
    fill: white;
    width: 14px;
}

footer {
    color: white;
    background: url("../../img/noise-background.png") center center, linear-gradient(#5A5550, #3D3932);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

footer .logo {
    align-self: center;
    margin-top: -130px;
}

#contact-link {
    display: inline-block;
    margin: 30px 0;
    padding: 0 8px;
}
#contact-link span {
    display: inline-block;
    background-color: #F3F2EE;
    clip-path: polygon(0 19px, 19px 0, 100% 0, 100% calc(100% - 19px), calc(100% - 19px) 100%, 0 100%);
    padding: 13px 25px 17px 25px;
}
#button-contact{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#button-contact .tri-force__corner--tl{
    top: 0;
    left: 0px;
}

#button-contact .tri-force__corner--br{
    bottom: 0;
    right: 0;
}
#social-media img {
    width: 48px;
}
#follow {
    margin: 0;
    font-weight: 700;
}
#social-media{
    margin: 16px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
footer figcaption{
    font-size: 14px;
    font-family: "Source Sans Pro",sans-serif;
}
#copyright{
    font-size: 14px;
}
@media screen and (max-width: 600px) {
    #profile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #picture-of-me {
        width: 288px;
        margin-top: 48px;
    }
    #profile-content{
        margin-top: 24px;
    }

    #profile-content p {
        margin: 0;
    }

    #profile-content h2 {
        margin: 0 0 20px;
    }

    .step-img {
        width: 358px;
    }

    #circle {
        width: 232px;
    }
    #intro-content{
        margin-top: 60px;
    }
    .step-container{
        width: 100%;
    }
    #skills-container {
        text-align: center;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr;
        grid-template-areas:"image"
        "button"
        "content";
    }
    #skills-button-container{
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 20px 0;
        justify-self: center;
        margin: 0 -16px;
    }
    #portfolio-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 600px) {
    #picture-of-me{
        width: 460px;
    }
    #profile-content{
        padding: 48px 8px;
    }
    .step-img{
        width: 545px;
    }
    #parcours-first-step, #parcours-fourth-step{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        margin: 0 20px 32px;
    }
    #parcours-second-step, #parcours-fifth-step{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 20px 32px;
    }
    #skills-container {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"image content"
        "button button";
    }
    #skills-info{
        align-self: center;
    }
    #skills-logo{
        margin-bottom: 64px;
    }
    #footer-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hepl-footer figure{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}