header{
    background-color: #e60012;
}

.hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

#profile{
    color: white;
}

#parcours-first-step,#parcours-second-step,#parcours-thrid-step{
    color: #3D3932;
}

header span {
    color: white;
}